
.brand-model-container {
  margin-right: 30px;
  margin-top: 20px;
}

.brand-title {
  font-size: 20px;
  padding-left: 25px;
  margin-top: 50px;
  text-align: left;
  margin-left: -10px;
}

.brand-models-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;
  list-style-type: none;
  padding: 0;
}

.brand-item {
  box-sizing: border-box;
  margin-bottom: 20px;
}

.brand-card {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.brand-link {
  color: inherit;
  text-decoration: none;
}

.brand-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.brand-details {
  padding: 10px;
  text-align: left;
  margin-right: 20px;
}

.brand-name {
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: normal;
}

.brand-price {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: normal;
}


.brand-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-icon-wrapper {
  position: relative; 
}

.chart-icon {
  width: 29px;
  height: 29px;
  cursor: pointer;
  position: absolute; 
  right: 0; 
  top: 50%; 
  transform: translateY(-50%); 
  margin-right: -25px;
}