.top-banner {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .top-banner img {
    width: auto; 
    max-width: auto;
    height: 280px;
    margin-right: 20px;
    margin-bottom: -50px;
    margin-top: 10px;
  }
  
  .top-banner img:last-child {
    margin-right: 0;
  }